.manual_input {
    box-shadow: none;
    padding: 0px 0px 4px 20px;
    height: 46px;
    color: #fff;
    font-size: 14px;
    border-radius: 0;
    outline: 0;
    transition: .1s;
}

.manual_card{
    background: #333;
}